.page{
  margin: 20px;
  padding: 20px;
  text-align: center;
}


.register{
    margin:25px;
}

.registerbtn{
    margin:5px;
    padding: 20px;
}

.loginbtn{
    margin: 0;
    padding: 0;  
}

.logOutbtn{
    margin: 0;
    padding: 0;
}  

.playercard-header{
    text-align: center;
}
.namefield{
 margin: 3px;
  padding: 20px;
}

.gamertagfield{
    margin: 3px;
  padding: 20px;
}
.characterfield{
 margin: 3px;
  padding: 20px;
}